@import "tailwindcss";
@import 'ngx-toastr/toastr';

.toast-container .ngx-toastr {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 16px 20px;
}

.toast-success {
  background-color: #48BB78;
}

.toast-error {
  background-color: #F56565;
}

.toast-warning {
  background-color: #ED8936;
}